@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>

    @section rodapeEspecifico{
        <div>
            <img src="~/image/contato.ico" width="100" height="100">
            </div>}

@Styles.Render("~/Content/teste.css")

